.productPanel{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0), 10, 0,0,0);
}

.largeText{
    -fx-font-size: 3em;
}

.mediumText{
    -fx-font-size: 1.5em;
}

.smallText{
    -fx-font-size: 0.8em;
}

@font-face {
    -fx-font-family: Inder;
    @import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
}

